<section class="users-edit">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <!-- Nav-tabs -->
                        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink class="nav-link d-flex align-items-center">
                                    <i class="ft-file mr-1"></i>
                                    <span class="d-none d-sm-block">Datos Generales</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <!-- Datos Generales content starts -->
                                    <div class="mt-2" id="account">
                                        <!-- Media object starts -->
                                        <div class="media">
                                            <img [src]="corporativo.Logo" alt="logo" class="mr-3" height="64" width="64">
                                            <div class="media-body">
                                                <h4>{{corporativo.NombreCorto}}</h4>
                                            </div>
                                        </div>
                                        <!-- Media object ends -->

                                        <br>
                                        <br>

                                        <!-- Datos Generales form starts -->
                                        <form novalidate [formGroup]="formdetalle" (ngSubmit)="actualizarCorporativo()">
                                            <div class="row">

                                                <div class="col-12 col-md-3">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="nombre-corto">Nombre corto</label>
                                                            <input type="text" id="nombre-corto" class="form-control" [placeholder]="corporativo.NombreCorto" formControlName="nombreCorto" [class.is-invalid]="nombreCortoValido" aria-invalid="false">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="fecha-incorporacion">Fecha de incorporación *</label>
                                                        <!--Datepicker in a popup starts-->
                                                        <div class="controls input-group">
                                                            <input class="form-control" placeholder="2020-09-11" id="fecha-incorporacion" formControlName="fechaIncorporacion" [class.is-invalid]="fechaIncorporacionValido" ngbDatepicker #d2="ngbDatepicker">
                                                            <div class="input-group-append">
                                                                <div class="input-group-text" (click)="d2.toggle()">
                                                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Datepicker in a popup ends-->

                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6">
                                                    <div class="form-group col-md-12">
                                                        <div class="controls">
                                                            <label for="nombre-completo">Nombre Completo</label>
                                                            <input type="text" formControlName="nombreCompleto" [class.is-invalid]="nombreCompletoValido" id="nombre-completo" class="form-control" [placeholder]="corporativo.NombreCompleto">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <div class="controls">
                                                            <label for="url-sistema">Url del sistema *</label>
                                                            <input type="text" formControlName="url" id="url-sistema" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-3">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="status">Status *</label>
                                                            <select formControlName="status" [class.is-invalid]="statusValido" id="status" class="form-control">
                                                                <option value="0">Inactivo</option>
                                                                <option value="1">Activo</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                                                    <div *ngIf="!editar">
                                                        <a class="btn btn-secondary mr-2" routerLink="/corporativos">Regresar</a>
                                                        <button (click)="permitirEditar()" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Editar</button>
                                                    </div>
                                                    <div *ngIf="editar">
                                                        <button (click)="permitirEditar()" class="btn btn-secondary mr-2">Cancelar</button>
                                                        <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Guardar Cambios</button>
                                                    </div>
                                                </div>
                                                <span *ngIf="mensaje" class="text-danger">Algo salio mal! Intenta nuevamente.</span>
                                            </div>
                                        </form>
                                        <!-- Datos Generales form ends -->
                                    </div>
                                    <!-- Datos Generales content ends -->
                                </ng-template>
                            </li>

                            <!--******************-->

                            <li [ngbNavItem]="2">
                                <a ngbNavLink class="nav-link d-flex align-items-center">
                                    <i class="ft-users mr-1"></i>
                                    <span class="d-none d-sm-block">Contactos</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <!-- Information content starts -->
                                    <div class="mt-2" id="information">
                                        <!-- Information form starts -->
                                        <form novalidate>
                                            <div class="row">
                                                <div class="col-12 col-md-6 mb-3 mb-md-0">
                                                    <h4 class="mb-3"><i class="ft-link mr-2"></i>Social Links</h4>
                                                    <div class="form-group">
                                                        <label for="users-edit-twitter">Twitter</label>
                                                        <input type="text" id="users-edit-twitter" class="form-control" value="https://www.twitter.com/">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-facebook">Facebook</label>
                                                        <input type="text" id="users-edit-facebook" class="form-control" value="https://www.facebook.com/">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-google">Google+</label>
                                                        <input type="text" id="users-edit-google" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-linkedin">LinkedIn</label>
                                                        <input type="text" id="users-edit-linkedin" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-instagram">Instagram</label>
                                                        <input type="text" id="users-edit-instagram" class="form-control" value="https://www.instagram.com/">
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6 mb-2 mb-md-0">
                                                    <h4 class="mb-3"><i class="ft-user mr-2"></i>Personal Info</h4>
                                                    <div class="form-group">
                                                        <div class="controls position-relative">
                                                            <label for="users-edit-bday">Birth date</label>
                                                            <input type="text" id="users-edit-bday" class="form-control birthdate-picker" required placeholder="Birth date">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="users-edit-country">Country</label>
                                                            <select id="users-edit-country" class="form-control" required>
                                                                <option value="">Select Country</option>
                                                                <option value="USA">USA</option>
                                                                <option value="UK">UK</option>
                                                                <option value="India">India</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-languages">Languages</label>
                                                        <ng-select [multiple]="true" [(ngModel)]="selectedLanguages" [ngModelOptions]="{standalone: true}">
                                                            <ng-option *ngFor="let language of languages" [value]="language.value">{{language.name}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="users-edit-phone">Phone</label>
                                                            <input type="text" id="users-edit-phone" class="form-control" placeholder="Phone Number" required value="(+656) 254 2568">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label for="users-edit-address">Address</label>
                                                            <input type="text" id="users-edit-address" class="form-control" placeholder="Address" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="users-edit-website">Website</label>
                                                        <input type="text" id="users-edit-website" class="form-control" placeholder="Website Address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-music">Favourite Music</label>
                                                        <ng-select [multiple]="true" [(ngModel)]="selectedMusic" [ngModelOptions]="{standalone: true}">
                                                            <ng-option *ngFor="let m of music" [value]="m.value">{{m.name}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="users-edit-movies">Favourite Movies</label>
                                                        <ng-select [multiple]="true" [(ngModel)]="selectedMovies" [ngModelOptions]="{standalone: true}">
                                                            <ng-option *ngFor="let movie of movies" [value]="movie.value">{{movie.name}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>

                                                <div class="col-12 d-flex justify-content-end flex-sm-row flex-column mt-3 mt-sm-0">
                                                    <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Save Changes</button>
                                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- Information form ends -->
                                    </div>
                                    <!-- Information content ends -->
                                </ng-template>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div [ngbNavOutlet]="nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>